In [4]:
import pandas as pd
import numpy as np # used for linear algebra and random sampling
# used for plotting charts within the notebook (instead of a separate window)
%matplotlib inline
prod = pd.read_csv('../data/Production.Product.csv', sep='\t')
prod.head(3)
prod.shape
prod.describe()

,ProductID,MakeFlag,FinishedGoodsFlag,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Weight,DaysToManufacture,ProductSubcategoryID,ProductModelID,DiscontinuedDate
count,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,205.000000,504.000000,295.000000,295.000000,0.0
mean,673.039683,0.474206,0.585317,535.150794,401.363095,258.602961,438.666250,74.069220,1.103175,12.294915,37.444068,NaN
std,229.373142,0.499830,0.493157,374.112954,280.584715,461.632808,773.602843,182.166588,1.492616,9.860135,34.025442,NaN
min,1.000000,0.000000,0.000000,4.000000,3.000000,0.000000,0.000000,2.120000,0.000000,1.000000,1.000000,NaN
25%,447.750000,0.000000,0.000000,100.000000,75.000000,0.000000,0.000000,2.880000,0.000000,2.000000,11.000000,NaN
50%,747.500000,0.000000,1.000000,500.000000,375.000000,23.372200,49.990000,17.900000,1.000000,12.000000,26.000000,NaN
75%,873.250000,1.000000,1.000000,1000.000000,750.000000,317.075825,564.990000,27.350000,1.000000,17.000000,48.500000,NaN
max,999.000000,1.000000,1.000000,1000.000000,750.000000,2171.294200,3578.270000,1050.000000,4.000000,37.000000,128.000000,NaN

In [5]:
prod.columns

Index(['ProductID', 'Name', 'ProductNumber', 'MakeFlag', 'FinishedGoodsFlag',
       'Color', 'SafetyStockLevel', 'ReorderPoint', 'StandardCost',
       'ListPrice', 'Size', 'SizeUnitMeasureCode', 'WeightUnitMeasureCode',
       'Weight', 'DaysToManufacture', 'ProductLine', 'Class', 'Style',
       'ProductSubcategoryID', 'ProductModelID', 'SellStartDate',
       'SellEndDate', 'DiscontinuedDate', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [6]:
prod.info

<bound method DataFrame.info of      ProductID                   Name ProductNumber  MakeFlag  \
0            1        Adjustable Race       AR-5381         0
1            2           Bearing Ball       BA-8327         0
2            3        BB Ball Bearing       BE-2349         1
3            4  Headset Ball Bearings       BE-2908         0
4          316                  Blade       BL-2036         1
..         ...                    ...           ...       ...
499        995      ML Bottom Bracket       BB-8107         1
500        996      HL Bottom Bracket       BB-9108         1
501        997     Road-750 Black, 44    BK-R19B-44         1
502        998     Road-750 Black, 48    BK-R19B-48         1
503        999     Road-750 Black, 52    BK-R19B-52         1

     FinishedGoodsFlag  Color  SafetyStockLevel  ReorderPoint  StandardCost  \
0                    0    NaN              1000           750        0.0000
1                    0    NaN              1000           750        0.0000
2                    0    NaN               800           600        0.0000
3                    0    NaN               800           600        0.0000
4                    0    NaN               800           600        0.0000
..                 ...    ...               ...           ...           ...
499                  1    NaN               500           375       44.9506
500                  1    NaN               500           375       53.9416
501                  1  Black               100            75      343.6496
502                  1  Black               100            75      343.6496
503                  1  Black               100            75      343.6496

     ListPrice  ... ProductLine Class Style  ProductSubcategoryID  \
0         0.00  ...         NaN   NaN   NaN                   NaN
1         0.00  ...         NaN   NaN   NaN                   NaN
2         0.00  ...         NaN   NaN   NaN                   NaN
3         0.00  ...         NaN   NaN   NaN                   NaN
4         0.00  ...         NaN   NaN   NaN                   NaN
..         ...  ...         ...   ...   ...                   ...
499     101.24  ...         NaN    M    NaN                   5.0
500     121.49  ...         NaN    H    NaN                   5.0
501     539.99  ...          R     L     U                    2.0
502     539.99  ...          R     L     U                    2.0
503     539.99  ...          R     L     U                    2.0

     ProductModelID        SellStartDate SellEndDate DiscontinuedDate  \
0               NaN  2008-04-30 00:00:00         NaN              NaN
1               NaN  2008-04-30 00:00:00         NaN              NaN
2               NaN  2008-04-30 00:00:00         NaN              NaN
3               NaN  2008-04-30 00:00:00         NaN              NaN
4               NaN  2008-04-30 00:00:00         NaN              NaN
..              ...                  ...         ...              ...
499            96.0  2013-05-30 00:00:00         NaN              NaN
500            97.0  2013-05-30 00:00:00         NaN              NaN
501            31.0  2013-05-30 00:00:00         NaN              NaN
502            31.0  2013-05-30 00:00:00         NaN              NaN
503            31.0  2013-05-30 00:00:00         NaN              NaN

                                    rowguid                   ModifiedDate
0    {694215B7-08F7-4C0D-ACB1-D734BA44C0C8}  2014-02-08 10:01:36.827000000
1    {58AE3C20-4F3A-4749-A7D4-D568806CC537}  2014-02-08 10:01:36.827000000
2    {9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E}  2014-02-08 10:01:36.827000000
3    {ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B}  2014-02-08 10:01:36.827000000
4    {E73E9750-603B-4131-89F5-3DD15ED5FF80}  2014-02-08 10:01:36.827000000
..                                      ...                            ...
499  {71AB847F-D091-42D6-B735-7B0C2D82FC84}  2014-02-08 10:01:36.827000000
500  {230C47C5-08B2-4CE3-B706-69C0BDD62965}  2014-02-08 10:01:36.827000000
501  {44CE4802-409F-43AB-9B27-CA53421805BE}  2014-02-08 10:01:36.827000000
502  {3DE9A212-1D49-40B6-B10A-F564D981DBDE}  2014-02-08 10:01:36.827000000
503  {AE638923-2B67-4679-B90E-ABBAB17DCA31}  2014-02-08 10:01:36.827000000

[504 rows x 25 columns]>